/* DOCUMENT INFORMATION
        - document : site web photo
        - version : 1.0.0
        - author : S. Teillet
*/

/* COLORS default body text
        - h1    #fff
        - h2    #392c22
        - h3    #fff
        - h4    #
        - h5    #000
        - p     #000

        - icon  #4d3e32

        - button        #4CAF50
        - button:hover  #4CAF50
*/

/* FONTS
        - default
        - subtitle
*/

/* CSS DIRECTORY
        1. global
        2. header
        3. page 1
        4. pagination
        5. footer 
*/


/* GLOBAL */

html {
    background-color: #392c22;
}

h1 {
    color: #fff;
    font-family: 'Comfortaa', 'Arial', sans-serif;
}

h2 {
    color: #392c22;
    margin-top: 20px;
}

h3 {
    color: #fff;
    font-size: 100%;
    text-align: right;
    padding: 5px;
}

/* LINKS */

.container-menu {
    background-color: #000;
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: #fff;
    width: 200px;
    padding: 20px;
    font-size: 100%;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #4d3e32;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #392c22;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.links {
    display: inline-block;
    float: right;
    padding-top: 17px;
    padding-right: 17px;
}

/* HEADER */

h1 i {
    color: #4d3e32;
}

.container {
    padding-top: 50px;
}

header {
    background-color: #392c22;
}

.p-header {
    color: #fff;
    margin-left: 220px;
}

a {
    color: #fff;
}

a:hover {
    color: #12981d;
    text-decoration: none;
}

/* PAGE1 */

section {
    background-color: #392c22;
    padding-bottom: 50px;
}

.p-text {
    color: #000;
    margin-top: 20px;
}

.bgbox {
    background-color: #fff;
    text-align: center;
    padding: 50px;
}

.bgbox1 {
    background-color: #fff;
    text-align: center;
    padding: 40px;
}

h2:after {
    display: block;
    height: 5px;
    width: 150px;
    background-color: #392c22;
    content: " ";
    margin: 0 auto;
}

h5 a {
    color: #000;
}

h5 a:hover {
    color: #12981d;
}

.lioness {
    background-image: url(../images/images-tzn/lioness2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

.serengeti {
    background-image: url(../images/images-tzn/serengeti1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

.cheetah {
    background-image: url(../images/images-afs/cheetah1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

.breed-river {
    background-image: url(../images/images-afs/breed-river1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

.moon {
    background-image: url(../images/various/DSCN5197.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

.macro {
    background-image: url(../images/macro/DSC_0001.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
}

/* PAGINATION */

ul {
    background-color: #392c22;
    margin-bottom: 0;
    padding-bottom: 25px;
}

li .page-link {
    color: #000;
}

li .page-link:hover {
    color: #000;
    background-color: #e3c0a6;
    border: 1px solid #e3c0a6;
}

.pagination {
    border-radius: 0;
}


/* FOOTER */

footer {
    background-color: #000;
    height: 60px;
    padding: 20px;
}

.copyright-text {
    color: #fff;
    text-align: center;
}

p span {
    color: #fff;
}
